样式创建：

① Styler.applymap：elementwise → 按元素方式处理Dataframe

② Styler.apply：column- / row- / table-wise → 按行/列处理Dataframe

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

UsageError: Line magic function `%` not found.

In [2]:
df = pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
sty = df.style
print(sty,type(sty))
# 查看样式类型

sty
# 显示样式

<pandas.io.formats.style.Styler object at 0x7fc42805cfd0> <class 'pandas.io.formats.style.Styler'>

In [13]:
# 按元素处理样式：style.applymap()

def color_neg_red(val):
    if val < 0:
        color = 'red'
    else:
        color = 'black'
    return('color:%s' % color)
df.style.applymap(color_neg_red)
# 创建样式方法，使得小于0的数变成红色
# style.applymap() → 自动调用其中的函数

In [14]:
# 按行/列处理样式：style.apply()

def highlight_max(s):
    is_max = s == s.max()
    #print(is_max)
    lst = []
    for v in is_max:
        if v:
            lst.append('background-color: yellow')
        else:
            lst.append('')
    return(lst)
df.style.apply(highlight_max
               , axis = 1    # axis = 1，取每行的最大值
               , subset = ['b','c']    # subset 作用的列
              )    
# 创建样式方法，每列最大值填充黄色
# axis：0为列，1为行，默认为0
# subset：索引

In [31]:
# 按照百分数显示

df = pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
print(df.head())
df.head().style.format("{:.2%}")

          a         b         c         d
0  0.028280 -0.489964  0.569449  1.289883
1 -1.229387  1.056099  0.548284 -0.100136
2  1.709076 -1.399957 -0.770784  0.599101
3 -0.528701 -1.230828  0.070433 -0.725033
4  1.247585  1.195202  0.872921  0.445351

In [32]:
# 显示小数点数

df.head().style.format("{:.3f}")

In [42]:
# 添加$符号
df = pd.DataFrame(np.random.randn(10,4)*10000,columns=['a','b','c','d'])
df.head().style.format("${0:,.2f}")

In [43]:
# 显示正负数

df.head().style.format("{:+.2f}")

In [44]:
# 分列显示

df.head().style.format({'b':"{:.2%}", 'c':"{:+.3f}", 'd':"{:.3f}"})

In [45]:
# 定位空值

df = pd.DataFrame(np.random.rand(5,4),columns = list('ABCD'))
df['A'][2] = np.nan
df.style.highlight_null(null_color='red')

In [46]:
# 色彩映射

df = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df.style.background_gradient(cmap='Greens',axis =1,low=0,high=1)
# cmap：颜色
# axis：映射参考，0为行，1以列

In [57]:
# 条形图

df = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
(
    df.style
    .bar(subset=['A', 'C'], color='#d65f5f', width=100, align='zero')
    .bar(color='lightgreen', subset=['B'], align='zero')
    .bar(color='#FFA07A', subset=['D'], align='zero')
)
# width：最长长度在格子的占比

In [52]:
# 分段式构建样式

df = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df['A'][[3,2]] = np.nan
format_dict = {'A':'${0:,.0f}', '日期': '{:%Y-%m}', 'pct_of_total': '{:.2%}'}
(df.style
    .bar(subset=['A', 'B'], color='#d65f5f', width=100)
#     .format(format_dict)
    .highlight_null(null_color='yellow')
    .highlight_max(color='blue')
    .highlight_min(color='lightgreen')
)